
<button type="button" [disabled]="startButtonclicked" (click)="lifeStart(); startButtonclicked = true;" class="btn btn-primary">life Start !</button>
<button type="button" [disabled]="pauseButtonclicked" (click)="lifePaused(); pauseButtonclicked = true;" class="btn btn-primary">life Pause !</button>
<input id="rangeInput" type="range" [(ngModel)]="speed" min="1" max="100">


<div class="grid">
        <div *ngFor="let columCell of lifeMap ; let i = index; ">
                <div *ngFor="let cell of columCell ; let j = index; ">
                        <div [attr.id] = "j+'_'+i" class="isDead" (mouseover)="handleClick($event)" ></div>
                </div>
        </div>
</div>

<!-- <input [(ngModel)]="delay"> -->


