.cell{
  background: #ccc;
  height: 50px;
  width: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
    
}

.grid {
  display: flex;
  justify-content: center;
}


.cell :hover {
  background: #F58787;
  cursor: pointer;
}

.isAlive {
  background: #F58787;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
    
}

.isDead {
  background: #ccc;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
    
}
  
