* {
  background: grey;
}

.grid {
  display: flex;
  justify-content: center;
}


.cell :hover {
  background: #4aa4ed;
  cursor: pointer;
}

.isAlive {
  background: #4aa4ed;
  height: 10px;
  width: 10px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 2px; 
    
}

.isDead {
  background: #22303b;
  height: 10px;
  width: 10px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 2px; 
}
  
