* {
  background: #22527a;

}

.grid {
  display: flex;
  justify-content: center;
}


.cell :hover {
  background: #82ce62;
  cursor: pointer;
}

.isAlive {
  background: #82ce62;
  height: 10px;
  width: 10px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 2px;

}

.isDead {
  background: #2f7db9;
  height: 10px;
  width: 10px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 2px;
}

